body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #be63e6;
  background: linear-gradient(
    180deg,
    rgba(190, 99, 230, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
